<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="IGrowDbContext" connectionString="Server=192.168.0.30;Initial Catalog=IGrowDb;User ID=sa;Password=igow@123" providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Data Source=192.168.0.30;Initial Catalog=IGrowDb;User ID=sa;password=igow@123;Packet Size=512"/>
</connectionStrings>