@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
      $(function () {
        gridList();
    })
    
    function gridList() {
        var queryJson = {
            ComCode: $("#txt_Code").val(),
            ComName: $('#txt_Name').val()
        }
        $('#dg').datagrid({
            url: '/CommodityManage/CommodityInfo/GetGridJson',
            toolbar: '#toolbar',
            hideColumn: "IGrowID",
            autoRowHeight: false,
            nowrap: true,
            singleSelect: true,
            method: 'get',
            pagination: true,
            pageSize: 20,
            queryParams: {
                queryJson: JSON.stringify(queryJson)
            },
            columns: [[
                { field: 'IGrowID', hidden: true },
               // { field: 'Id', title: '商品ID', width: 100, align: 'left' },
                {
                    field: 'ItemAddAttribute', title: '商品附加属性', width: 100, align: 'left',
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return '普通商品';
                        } else if (value == 1) {
                            return '唯一码商品';
                        } else {
                            return '批次商品';
                        }
                    }
                }, 
                { field: 'Code', title: '商品代码', width: 100, align: 'left' },
                { field: 'Name', title: '商品名称', width: 100, align: 'left' },
                { field: 'SalesPrice', title: '标准售价', width: 60, align: 'left' },
                { field: 'PurchasePrice', title: '标准进价', width: 60, align: 'left' },
                { field: 'AgentPrice', title: '代理售价', width: 60, align: 'left' },
                { field: 'CostPrice', title: '成本价', width: 60, align: 'left' },   
                { field: 'SimpleName', title: '商品简称', width: 100, align: 'left' }, 
                { field: 'CreateDate', title: '商品明细创建时间', width: 100, align: 'left' },
                { field: 'ModifyDate', title: '商品明细修改时间', width: 100, align: 'left' },
                { field: 'Note', title: '备注', width: 100, align: 'left' },
                { field: 'Weight', title: '重量', width: 60, align: 'left' },
                {
                    field: 'Combine', title: '是否为组合商品', width: 80, align: 'left',
                    formatter: function (value, row, index) {
                        if (value == true) {
                            return '是';
                        } else if (value == 0) {
                            return '否';
                        }
                    }
                },
                {
                    field: 'Del', title: '是否已停用', width: 80, align: 'left',
                    formatter: function (value, row, index) {
                        if (value == true) {
                            return '是';
                        } else if (value == 0) {
                            return '否';
                        }
                    }},
                { field: 'CategoryCode', title: '分类代码', width: 50, align: 'left' },
                { field: 'CategoryName', title: '分类名称', width: 100, align: 'left' },
                { field: 'SupplierCode', title: '供应商代码', width: 100, align: 'left' }, 
                { field: 'Length', title: '长', width: 100, align: 'left' },
                { field: 'Width', title: '宽', width: 100, align: 'left' },
                { field: 'Height', title: '高', width: 100, align: 'left' },
                { field: 'Volume', title: '体积', width: 100, align: 'left' },
                //{ field: 'ItemUnitCode', title: '商品单位代码', width: 100, align: 'left' }, 
                //{ field: 'ItemUnitName', title: '商品单位名称', width: 100, align: 'left' }, 
                { field: 'PackagePoint', title: '打包积分', width: 100, align: 'left' },
                { field: 'SalesPoint', title: '销售积分', width: 100, align: 'left' },                
                //{ field: 'StockStatusCode', title: '库存状态代码', width: 100, align: 'left' },   
               // { field: 'PicUrl', title: '图片地址', width: 100, align: 'left' },   
               // { field: 'TaxNo', title: '税号', width: 100, align: 'left' },   
                //{ field: 'TaxRate', title: '税率', width: 100, align: 'left' },   
               // { field: 'OriginArea', title: '原产地', width: 100, align: 'left' },   
                //{ field: 'SupplierOuterid', title: '供应商货号', width: 100, align: 'left' },   
                { field: 'ShelfLife', title: '保质期', width: 100, align: 'left' },   
                { field: 'WarningDays', title: '预警天数', width: 100, align: 'left' }//,                     
               // { field: 'ItemBrandId', title: '品牌ID', width: 100, align: 'left' },   
               // { field: 'ItemBrandCode', title: '品牌代码', width: 100, align: 'left' },   
               // { field: 'ItemBrandName', title: '品牌名称', width: 100, align: 'left' }    
            ]]
        });

        $("#btn_search").click(function () {
            var queryJson = {
                ComCode: $("#txt_Code").val(),
                ComName: $('#txt_Name').val()
            }
            $('#dg').datagrid('load', { queryJson: JSON.stringify(queryJson) });
        });
    }  
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增",
            url: "/CommodityManage/CommodityInfo/Form",
            width: "700px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var selected = $('#dg').datagrid('getSelected'); 
        
        if (selected != null) {
            $.modalOpen({
                id: "Form",
                title: "修改",
                url: "/CommodityManage/CommodityInfo/Form?keyValue=" + selected.IGrowID,
                width: "700px",
                height: "550px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
        else {
            $.modalMsg("未选中数据", "warning");
        }
    }
    function btn_details() {
        var selected = $('#dg').datagrid('getSelected');
        if (selected != null) {
            $.modalOpen({
                id: "Details",
                title: "查看数据",
                url: "/CommodityManage/CommodityInfo/Details?keyValue=" + selected.IGrowID,
                width: "700px",
                height: "600px",
                btn: null,
            });
        }
        else {
            $.modalMsg("未选中数据", "warning");
        }
    }
</script>



<div class="gridPanel" style="height:100%;">
    <div id="toolbar" style="padding:2px 5px;">
        <div class="dcui-btn-area">
            <a href="#" id="NF-add" authorize="yes" class="dcui-btn dcui-btn-green" iconCls="icon-add" plain="true" onclick="btn_add()"><i class="fa fa-plus"></i>新建商品</a>
            <a href="#" id="NF-edit" authorize="yes" class="dcui-btn dcui-btn-blue" iconCls="icon-edit" plain="true" onclick="btn_edit()"><i class="fa fa-pencil"></i>修改商品</a>
            <a href="#" id="NF-details" authorize="yes" class="dcui-btn dcui-btn-purple" iconCls="icon-man" plain="true" onclick="btn_details()"><i class="fa fa-eye"></i>查看商品</a>
        </div>
        <script>$('#toolbar').authorizeButton()</script>
        <div class="dcui-search-area">
            商品代码:
            <input class="easyui-textbox" style="width:110px" id="txt_Code" placeholder="请输入要查询商品代码">
            商品名称：
            <input class="easyui-textbox" style="width:110px" id="txt_Name" placeholder="请输入要查询商品名称">

            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="btn_search">查询</a>
        </div>
    </div>

    <table id="dg" class="easyui-datagrid" style="width:100%;min-height:600px;height:100%;"></table>
</div>